<a href="https://colab.research.google.com/github/IyedBaouab/reopsitory/blob/gh-pages/OpenMLcourse1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd

In [6]:
data = pd.read_csv('adult.data.csv')
data.head()

   age         workclass  fnlwgt  ... hours-per-week  native-country salary
0   39         State-gov   77516  ...             40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2   38           Private  215646  ...             40   United-States  <=50K
3   53           Private  234721  ...             40   United-States  <=50K
4   28           Private  338409  ...             40            Cuba  <=50K

[5 rows x 15 columns]

In [8]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

In [9]:
data.loc[data['sex']=='Female','age'].mean()

36.85823043357163

In [11]:
100*((data['native-country'] == 'Germany').sum())/data.shape[0]

0.42074874850281013

In [12]:
ages1 = data.loc[data['salary'] == '>50K', 'age']
ages2 = data.loc[data['salary'] == '<=50K', 'age']
print("The average age of the rich: {0} +- {1} years, poor - {2} +- {3} years.".format(
    round(ages1.mean()), round(ages1.std(), 1),
    round(ages2.mean()), round(ages2.std(), 1)))

The average age of the rich: 44 +- 10.5 years, poor - 37 +- 14.0 years.

In [13]:
data.loc[data['salary'] == '>50K', 'education']

7             HS-grad
8             Masters
9           Bachelors
10       Some-college
11          Bachelors
             ...
32539       Doctorate
32545      Assoc-acdm
32554         Masters
32557         HS-grad
32560         HS-grad
Name: education, Length: 7841, dtype: object

In [14]:
for (race, sex), sub_df in data.groupby(['race', 'sex']):
    print("Race: {0}, sex: {1}".format(race, sex))
    print(sub_df['age'].describe())

Race: Amer-Indian-Eskimo, sex: Female
count    119.000000
mean      37.117647
std       13.114991
min       17.000000
25%       27.000000
50%       36.000000
75%       46.000000
max       80.000000
Name: age, dtype: float64
Race: Amer-Indian-Eskimo, sex: Male
count    192.000000
mean      37.208333
std       12.049563
min       17.000000
25%       28.000000
50%       35.000000
75%       45.000000
max       82.000000
Name: age, dtype: float64
Race: Asian-Pac-Islander, sex: Female
count    346.000000
mean      35.089595
std       12.300845
min       17.000000
25%       25.000000
50%       33.000000
75%       43.750000
max       75.000000
Name: age, dtype: float64
Race: Asian-Pac-Islander, sex: Male
count    693.000000
mean      39.073593
std       12.883944
min       18.000000
25%       29.000000
50%       37.000000
75%       46.000000
max       90.000000
Name: age, dtype: float64
Race: Black, sex: Female
count    1555.000000
mean       37.854019
std        12.637197
min        17.000000
25%        28.000000
50%        37.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: Black, sex: Male
count    1569.000000
mean       37.682600
std        12.882612
min        17.000000
25%        27.000000
50%        36.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: Other, sex: Female
count    109.000000
mean      31.678899
std       11.631599
min       17.000000
25%       23.000000
50%       29.000000
75%       39.000000
max       74.000000
Name: age, dtype: float64
Race: Other, sex: Male
count    162.000000
mean      34.654321
std       11.355531
min       17.000000
25%       26.000000
50%       32.000000
75%       42.000000
max       77.000000
Name: age, dtype: float64
Race: White, sex: Female
count    8642.000000
mean       36.811618
std        14.329093
min        17.000000
25%        25.000000
50%        35.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: White, sex: Male
count    19174.000000
mean        39.652498
std         13.436029
min         17.000000
25%         29.000000
50%         38.000000
75%         49.000000
max         90.000000
Name: age, dtype: float64

In [16]:
max_load = data['hours-per-week'].max()
print("Max time - {0} hours./week.".format(max_load))

num_workaholics = data[data['hours-per-week'] == max_load].shape[0]
print("Total number of such hard workers {0}".format(num_workaholics))

rich_share = float(data[(data['hours-per-week'] == max_load)
                 & (data['salary'] == '>50K')].shape[0]) / num_workaholics
print("Percentage of rich among them {0}%".format(int(100 * rich_share)))

Max time - 99 hours./week.
Total number of such hard workers 85
Percentage of rich among them 29%

In [19]:
for (country,salary), sub_df in data.groupby(['native-country','salary']):
  print(country, salary, sub_df['hours-per-week'].mean());

? <=50K 40.16475972540046
? >50K 45.54794520547945
Cambodia <=50K 41.416666666666664
Cambodia >50K 40.0
Canada <=50K 37.91463414634146
Canada >50K 45.64102564102564
China <=50K 37.38181818181818
China >50K 38.9
Columbia <=50K 38.68421052631579
Columbia >50K 50.0
Cuba <=50K 37.98571428571429
Cuba >50K 42.44
Dominican-Republic <=50K 42.338235294117645
Dominican-Republic >50K 47.0
Ecuador <=50K 38.041666666666664
Ecuador >50K 48.75
El-Salvador <=50K 36.03092783505155
El-Salvador >50K 45.0
England <=50K 40.483333333333334
England >50K 44.53333333333333
France <=50K 41.05882352941177
France >50K 50.75
Germany <=50K 39.13978494623656
Germany >50K 44.97727272727273
Greece <=50K 41.80952380952381
Greece >50K 50.625
Guatemala <=50K 39.36065573770492
Guatemala >50K 36.666666666666664
Haiti <=50K 36.325
Haiti >50K 42.75
Holand-Netherlands <=50K 40.0
Honduras <=50K 34.333333333333336
Honduras >50K 60.0
Hong <=50K 39.142857142857146
Hong >50K 45.0
Hungary <=50K 31.3
Hungary >50K 50.0
India <=50K 38.233333333333334
India >50K 46.475
Iran <=50K 41.44
Iran >50K 47.5
Ireland <=50K 40.94736842105263
Ireland >50K 48.0
Italy <=50K 39.625
Italy >50K 45.4
Jamaica <=50K 38.23943661971831
Jamaica >50K 41.1
Japan <=50K 41.0
Japan >50K 47.958333333333336
Laos <=50K 40.375
Laos >50K 40.0
Mexico <=50K 40.00327868852459
Mexico >50K 46.57575757575758
Nicaragua <=50K 36.09375
Nicaragua >50K 37.5
Outlying-US(Guam-USVI-etc) <=50K 41.857142857142854
Peru <=50K 35.06896551724138
Peru >50K 40.0
Philippines <=50K 38.065693430656935
Philippines >50K 43.032786885245905
Poland <=50K 38.166666666666664
Poland >50K 39.0
Portugal <=50K 41.93939393939394
Portugal >50K 41.5
Puerto-Rico <=50K 38.470588235294116
Puerto-Rico >50K 39.416666666666664
Scotland <=50K 39.44444444444444
Scotland >50K 46.666666666666664
South <=50K 40.15625
South >50K 51.4375
Taiwan <=50K 33.774193548387096
Taiwan >50K 46.8
Thailand <=50K 42.86666666666667
Thailand >50K 58.333333333333336
Trinadad&Tobago <=50K 37.05882352941177
Trinadad&Tobago >50K 40.0
United-States <=50K 38.79912723305605
United-States >50K 45.50536884674383
Vietnam <=50K 37.193548387096776
Vietnam >50K 39.2
Yugoslavia <=50K 41.6
Yugoslavia >50K 49.5